.header {
  .header__info-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .header__info-help {
      color: var(--color-primary);
      font-weight: bold;
    }

    .header__info-tel {
      padding-left: 10px;
    }

    .header__info-book-count {
      color: var(--color-primary);
      font-weight: bold;
    }
  }

  .header__menu-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .header__menu-icons {
      display: grid;
      grid-template-columns: repeat(4, 45px);
    }

    ul.hr {
      margin: 0;
      padding: 4px;
    }
    ul.hr li {
      display: inline;
      margin-right: 5px;
      padding: 3px;

      a {
        text-decoration: none;
      }
    }

    .header__logo {
      a {
        text-decoration: none;
      }
    }
  }
}
