@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE:wght@100..800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  --color-primary: #f45350;
  --ui-block-title-color: #292929;
  --dark-accent-color: #595959;
  --block-title-color: #292929;
  --brand-color: #f45350;
  --subscribe-button-color: #fff;
}

/* img {
    display: block;
    width: 100%;
} */
