*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  --color-primary: #f45350;
  --ui-block-title-color: #292929;
}

/* img {
    display: block;
    width: 100%;
} */
