.hot-sale {
  padding: 32px;
  background-color: #fff;
}

.hot-sale__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.hot-sale__title {
  color: var(--block-title-color);
  font-family: "SUSE", sans-serif;
  font-size: 46px;
}

.hot-sale__view-all-button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--element-of-button);
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.hot-sale__view-all-button:hover {
  background-color: var(--dark-accent-color);
  border: 1px solid var(--dark-accent-color);
}

.hot-sale__items-wrapper {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: nowrap;
}

.hot-sale__item {
  flex: 0 0 auto;
  width: 180px;
}

.hot-sale__book {
  flex: 0 0 200px;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  text-align: center;
}

.hot-sale__image {
  height: 200px;
  width: 200px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.hot-sale__name {
  font-family: "Lato", sans-serif;
  color: var(--block-title-color);
  font-size: 18px;
  margin: 24px 0px 0px 0px;
}

.hot-sale__price-old {
  text-decoration: line-through;
  color: var(--block-title-color);
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-top: 12px;
  margin-bottom: 6px;
  margin-left: 0px;
  margin-right: 0px;
}

.hot-sale__price-new {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--brand-color);
}

.hot-sale__item-button {
  margin-top: 0,5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark-accent-color);
  background: transparent;
  cursor: pointer;
  border-radius: 1.5rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: var(--dark-accent-color);
}

.hot-sale__item-button:hover {
  color: var(--element-of-button);
  background-color: var(--dark-accent-color);
}

.hot-sale__carousel-slide {
  position: relative;
  padding: 0 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
  opacity: 1;
  z-index: 10;
}

.carousel-control-prev,
.carousel-control-next {
  border-radius: 0;
  padding: 0;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(0.5);
  background-color: transparent;
}
