.newsletter {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
}
.newsletter__inner {
  padding-left: 24px;
  padding-right: 24px;
}
.newsletter__subscribed {
  color: var(--dark-accent-color);
  margin-top: 25px;
}
.newsletter__title {
  font-size: 12px;
  color: var(--dark-accent-color);
}
.newsletter__stay-updated {
  color: var(--block-title-color);
  font-size: 34px;
  margin-top: 20px;
}
.newsletter__latest-news {
  color: var(--brand-color);
  font-size: 34px;
}
.newsletter__subscription-email {
  font-size: 15px;
  height: 40px;
  width: 342px;
  text-align: left;
  background-color: var(--email-input-background-color);
  border: none;
  outline: none;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-block-end: 11px;
  padding-block-start: 11px;
  padding-bottom: 11px;
  padding-inline-end: 22px;
  padding-inline-start: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 11px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.newsletter__subscribe-button {
  font-size: 15px;
  text-align: center;
  height: 40px;
  width: 342px;
  color: var(--subscribe-button-color);
  background-color: var(--brand-color);
  border: none;
  outline: none;
  margin-top: 24px;
  padding-bottom: 11px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 11px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.newsletter__subscribe-button:hover {
  background-color: var(--dark-accent-color);
}
.newsletter__image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
