/*Max Skydanchuk*/

.all-books .all-books__container {
    display: flex;
    gap: 20px;
}

.all-books__container .all-books__options {
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    justify-content: center;
}

.all-books__container .all-books__books {
    padding: 20px;
    width: 60%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.all-books__books .all-books__book img{
    width: 140px;
    height: 140px;
}

/*End Max Skydanchuk*/