@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

.books-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1500px; /* ограничиваем ширину для 4 колонок */
    margin: 0 auto;
}
.books-part img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.books-part::after{
    content:"";
    width: 350px;
}
.trending-label{
    color:#f45350;
    width: 124px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:  "wdth" 100;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.4;
}
.trending-label{
   text-align: center;
   margin-left: 300px;
   margin-bottom:12px;
}
.trending-label-name{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:  "wdth" 100;
    font-size: 30px;

    letter-spacing: 1px;
    line-height: 1.4;
    margin-left: 315px;
}
.trending-line{
    height: 1px;
    background-color: #eaeaea; 
    width: 100%;
    max-width: 1270px;
    margin: 20px auto; 
    opacity: 0.4; 
}