/* === FEATURED AUTHOR SECTION === */

/* Контейнер */
.featured-author__content {
  display: flex;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: nowrap; /* desktop */
}

/* Ліва колонка — текст */
.featured-author__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  margin-left: auto;
  text-align: right;
}

/* Центр + книги */
.featured-author__visual {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex: 1 1 auto;
}

/* Фото */
.featured-author__image {
  max-width: 620px;
}
.featured-author__image img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  display: block;
}

/* Книжки */
.featured-author__books {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 420px;
  justify-content: center;
}

/* ---- Картка книги ---- */
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 0.75rem;
  max-width: 400px;
  justify-content: center;
}
.book-card__image {
  width: 100%;
}
.book-card__title {
  margin: 0.3rem 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--block-title-color);
}
.book-card__price {
  /* margin:.3rem 0; */
  font-weight: bold;
  color: var(--brand-color);
}
.book-card__action {
  align-items: center;
  /* gap:.3rem; */
  /* font-size:.95rem; */
  font-weight: 600;
  color: var(--block-title-color);
  cursor: pointer;
  /* text-decoration:none;   */
}
.book-card__arrow {
  color: var(--brand-color);
  font-weight: bold;
  transition: transform 0.2s ease;
}
.book-card__action:hover .book-card__arrow {
  transform: translateX(3px);
}
.book-card__action:hover {
  text-decoration: underline;
}

/* ---- Типографіка + кнопка ---- */
.featured-author__title {
  font: 600 12px/1.4 "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: var(--brand-color);
}
.featured-author__name {
  font: 600 46px/1.2 "SUSE", sans-serif;
  color: var(--block-title-color);
}
.featured-author__genre {
  font: 600 34px "SUSE", sans-serif;
  color: var(--brand-color);
}
.featured-author__description {
  font: 400 16px/1.6 "Lato", sans-serif;
  color: var(--dark-accent-color);
}
.featured-author__button {
  padding: 8px 25px;
  border: none;
  /* border-radius: 25px; */
  cursor: pointer;
  text-decoration: none;
  font: 700 16px/1.2 "Lato", sans-serif;
  color: var(--subscribe-button-color);
  background: var(--brand-color);
  margin-left: auto;
  transition: background-color 0.3s ease;
}
.featured-author__button:hover {
  background-color: var(--dark-accent-color);
}

.products-carousel__button {
  padding: 8px 25px;
  border: none;
  /* border-radius: 25px; */
  cursor: pointer;
  font: 700 16px/1.2 "Lato", sans-serif;
  color: var(--subscribe-button-color);
  background: var(--brand-color);
  transition: background-color 0.3s ease;
  margin-left: auto;
}

.products-carousel__button:hover {
  background-color: var(--dark-accent-color);
}

.products-carousel {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  height: 60px;

}

/* === Мобільна версія ≤ 992px === */
@media (max-width: 992px) {
  .featured-author__content {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  } /* перехід у стовпчик */
  .featured-author__visual {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featured-author__books {
    grid-template-columns: 1fr; /* одна книжка рядком */
    max-width: 100%;
    justify-content: center;
  }
  .featured-author__info {
    margin: 1rem auto 0;
    display: flex;
    text-align: left;
    max-width: 420px;
  }
  .featured-author__description {
    text-align: left;
  }
  .featured-author__button {
    margin-left: 0;
    margin-right: auto;
  }

  /* Фото врівень із текстом */
  .featured-author__image {
    max-width: 460px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .featured-author__image img {
    width: 100%;
    height: auto;
  }
}
