<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Book Store Website</title>
    <link
      rel="shortcut icon"
      href="img/title-book-image.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header></header>
    <main>
      <!--Vitalii Yatsura-->
      <section>
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.featured-author.html"
        ></div>
      </section>
      <!--End Vitalii Yatsura-->

      <!-- Julia Kuznietsova -->
      <section
        class="new-arrivals"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.new-arrivals.partial.html"
      ></section>
      <!--End Julia Kuznietsova-->
    </main>
    <footer></footer>
  </body>
</html>
