<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Book Store Website</title>
    <link
      rel="shortcut icon"
      href="img/title-book-image.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <script type="module" src="js/init.js"></script>
    <link rel="stylesheet" href="css/index.css">
  </head>

  <body>
    <header><a href="about.html">About Us </a><a href="index.html">Main page</a></header>
    <main>
      <!--Venhryn Nazarii-->
      <section>
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.trending-titles-section.partial.html"
        ></div>
      </section>
      <!--End Venhryn Nazarii-->
      
      <!--Vitalii Yatsura-->
      <section>
        <div
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.featured-author.html"
        ></div>
      </section>
      <!--End Vitalii Yatsura-->

      <!--Nuijen Alex-->
      <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.trending-now-partial.html">
      </section>
      <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.top-5-this-week-partial.html">
      </section>
      <!--End Nuijen Alex-->

      <!-- Julia Kuznietsova -->
      <section
        class="new-arrivals"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.new-arrivals.partial.html"
      ></section>
      <!--End Julia Kuznietsova-->

      <!-- Max Skydanchuk -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.all-books.partial.html"
      ></section>
      <!--End Max Skydanchuk-->

      <!-- Diana Shymanska -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.testimonials-readers.partial.html">
      </section>
      <!--End Diana Shymanska-->

      <!-- Marta Rusanovska -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.newsletter.partial.html">
       </section>
      <!--End Marta Rusanovska-->
    </main>
    <footer></footer>
  </body>
</html>
